// colors names

$color-white: #fff;
$color-black: #000;
$color-whitesmoke: #f0f1f5;
$color-gray: #8f8f93;
$color-darkslateblue: #4d3388;
$color-hotpink: #e142ad;
$color-thistle: #d9cae2;
$color-seagreen: #2d9448;
$color-indianred: #c74c3c;

// project colors
$main-color: $color-darkslateblue;
$secondary-color: $color-hotpink;
$text-color: $color-gray;

// gradients
$purple-pink-gradient: linear-gradient(45deg,
$main-color 30%,
$secondary-color 100%);
