// colors names

$color-white: #fff;
$color-black: #000;
$color-whitesmoke: #f0f1f5;
$color-gray: #8f8f93;
$color-darkslateblue: #4d3388;
$color-hotpink: #e142ad;
$color-thistle: #d9cae2;

// project colors
$main-color: $color-darkslateblue;
$secondary-color: $color-thistle;
$text-color: $color-gray;

// gradients
$purple-pink-gradient: linear-gradient(
  45deg,
  $main-color 30%,
  $color-hotpink 100%
);
