@import "@styles/abstracts";

.block {
  $padding: 19px;
  $padding-mobile: 12px;
  @include transition(padding);
  border-radius: 1.5em;
  display: inline-flex;
  font-weight: 500;

  padding: $padding-mobile;

  position: relative;

  @include media-breakpoint-up(xs) {
    padding-left: $padding;
    padding-right: $padding;
  }

  &-main {
    color: $color-white;

    &.fill {
      @include transition(background-position);
      background-image: $purple-pink-gradient;
      background-size: 120%;

      &:hover {
        background-position: 100%;
      }
    }

    &.outline {
      $color: $main-color;
      $hover-color: $secondary-color;

      @include transition(border-color, color);
      border: 1px solid;
      border-color: $color;
      color: $color;

      &:hover {
        border-color: $hover-color;
        color: $hover-color;
      }
    }
  }

  &-indianred {
    color: $color-white;

    &.fill {
      $background-color: $color-indianred;

      @include transition(background-color);
      background-color: $color-indianred;

      &:hover {
        background-color: darken($background-color, 15);
      }
    }

    &.outline {
      $color: $color-indianred;

      @include transition(border-color, color);
      border: 1px solid;
      border-color: $color;
      color: $color;

      &:hover {
        border-color: darken($color, 15);
        color: darken($color, 15);
      }
    }
  }
  &-disabled {
    background-color: rgba($color-gray, 0.5);
    color: $color-white;
    @include transition(background-color, color);

    .button {
      cursor: default;
    }
  }
}

.button {
  bottom: 0;
  cursor: pointer;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}
