.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}
.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;

  &-close {
    $size: 24px;

    position: relative;
    width: $size;
    height: $size;
    cursor: pointer;

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      width: 100%;
      height: 1px;
      background: black;
      transform: translateY(50%);
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }

  &:not(:last-child) {
    border-bottom: 1px solid black;
  }

  &-error {
    background: red;
  }

  &-success {
    background: green;
  }
}
