@import "@styles/abstracts/colors";

.wrapper {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

.item {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 5px;

  &-close {
    $size: 24px;
    cursor: pointer;
    height: $size;

    position: relative;
    width: $size;

    &::before,
    &::after {
      background: $color-black;
      content: "";
      height: 1px;
      position: absolute;
      top: 50%;
      transform: translateY(50%);
      width: 100%;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &:not(:last-child) {
    border-bottom: 1px solid $color-black;
  }

  &-error {
    background: $color-indianred;
  }

  &-success {
    background: $color-seagreen;
  }
}
