@import "@styles/abstracts";

@mixin item-background($color) {
  background-color: $color;

  &:hover {
    background-color: darken($color, 15);
  }
}

.wrapper {
  max-width: 250px;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(100%);
  width: 100%;
  z-index: 10;
}

.item {
  $border-radius: 10px;
  @include transition(background-color);

  align-items: center;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-name: showItem;
  border-radius: $border-radius 0 0 $border-radius;
  display: flex;
  font-weight: 600;
  justify-content: space-between;
  padding: 10px;

  &-close {
    $size: 24px;
    cursor: pointer;
    height: $size;
    position: relative;
    width: $size;

    &::before,
    &::after {
      background: currentColor;
      content: "";
      height: 1px;
      position: absolute;
      top: 50%;
      transform: translateY(50%);
      width: 100%;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &-error {
    @include item-background($color-indianred);
    color: $color-white;
  }

  &-success {
    @include item-background($color-seagreen);
    color: $color-white;
  }
}

@keyframes showItem {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}
