@import "@styles/abstracts";

.wrapper {
  align-items: flex-start;
  background-color: $color-whitesmoke;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.header {
  @include adaptive-default-gap(false, padding-top, padding-bottom);
  background: $color-white;
  border-bottom: 1px solid $color-whitesmoke;
  box-shadow: $box-shadow-main;

  &-inner {
    @include flex(between);
  }

  &-name {
    color: $main-color;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
  }
}

.main {
  @include adaptive-default-gap(false, "padding-top", "padding-bottom");
}
