@import "@styles/abstracts";

@mixin pseudo {
  background-color: currentColor;
  content: "";
  height: 2px;
  position: absolute;
  top: 50%;
  width: 100%;
  z-index: 10;
}

.wrapper {
  height: 1em;
  width: 1em;
  z-index: 10;

  &::before {
    @include pseudo();
    left: 0;
    transform: rotate(45deg);
  }

  &::after {
    @include pseudo();
    right: 0;
    transform: rotate(-45deg);
  }
}
