@import "@styles/abstracts";

.block {
  background-color: $color-white;
  border-radius: $border-radius-main;
  box-shadow: $box-shadow-main;
  padding: $grid-gap-small;

  @include media-breakpoint-up(xxs) {
    padding: $grid-gap;
  }
  @include media-breakpoint-up(lg) {
    padding: 20px;
  }
}
