@import "@styles/abstracts";

@mixin common-titles-styles {
  @include transition(font-size, margin-bottom);
  font-weight: 500;
}

@mixin calc-sizes($font-size) {
  font-size: #{$font-size}px;
  margin-bottom: #{round($font-size / 1.57)}px;
}

@mixin calc-styles($baseValue) {
  @include calc-sizes(round($baseValue/1.6));
  @include common-titles-styles();

  @include media-breakpoint-up(xs) {
    @include calc-sizes(round($baseValue/1.09));
  }
  @include media-breakpoint-up(lg) {
    @include calc-sizes($baseValue);
  }
}

.xl {
  $base-font-size-value: 48;
  @include calc-styles($base-font-size-value);
}

.lg {
  $base-font-size-value: 32;
  @include calc-styles($base-font-size-value);
}

.md {
  $base-font-size-value: 21;
  @include calc-styles($base-font-size-value);
}

// .sm {
// }

// .xs {
// }
