@import "@styles/abstracts";

@mixin commonTitlesStyles {
  font-weight: 500;
  @include transition(font-size, margin-bottom);
}

@mixin calcSizes($fontSize) {
  font-size: #{$fontSize}px;
  margin-bottom: #{round($fontSize / 1.57)}px;
}

@mixin calcStyles($baseValue) {
  @include calcSizes(round($baseValue/1.6));
  @include commonTitlesStyles();

  @include media-breakpoint-up(xs) {
    @include calcSizes(round($baseValue/1.09));
  }
  @include media-breakpoint-up(lg) {
    @include calcSizes($baseValue);
  }
}

.xl {
  $baseFontSizeValue: 48;
  @include calcStyles($baseFontSizeValue);
}
.lg {
  $baseFontSizeValue: 32;
  @include calcStyles($baseFontSizeValue);
}
.md {
  $baseFontSizeValue: 21;
  @include calcStyles($baseFontSizeValue);
}
.sm {
}
.xs {
}
