@import "@styles/abstracts";

.line {
  @include adaptive-default-gap(false, margin-bottom);
  align-items: center;
  display: flex;
}

.buttons {
  margin-left: auto;
}

.button:not(:last-child) {
  @include adaptive-default-gap(false, margin-right);
}
