@import "@styles/abstracts";

.content {
  margin-bottom: 10px;

  @include media-breakpoint-up(xxs) {
    margin-bottom: 20px;
  }
}

.toolbar {
  display: flex;
  justify-content: center;
}

.button:not(:last-child) {
  margin-right: 30px;
}
