@import "@styles/abstracts";

$padding-top: 7px;
$padding-top-mobile: 5px;

@mixin item-pseudo {
  bottom: -1px;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  z-index: 10;
}

.placeholder {
  @include transition(top, transform, font-size);
  color: $color-gray;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: $padding-top-mobile + 2;
  transform: translateY(0);

  @include media-breakpoint-up(xs) {
    top: $padding-top + 2;
  }
}

.item {
  position: relative;

  &::before {
    @include item-pseudo();
    background-color: $color-whitesmoke;
    width: 100%;
  }

  &::after {
    @include item-pseudo();
    @include transition(width);
    background-color: $main-color;
    width: 0;
  }

  &:focus-within {
    &::after {
      width: 100%;
    }

    .placeholder {
      font-size: 12px;
      top: 2px;
      transform: translateY(-100%);
    }
  }
}

.text {
  padding: $padding-top-mobile 0;

  @include placeholder() {
    visibility: hidden;
  }

  @include media-breakpoint-up(xs) {
    padding: $padding-top 0;
  }
}
